<footer class="footer" id="footer">
  <div class="footer-top">
    <div class="shell">
      <div class="footer-inner">
        <h6>Our Corporate Locations</h6>
        <ul class="list-locations">
          <li><img alt="Img location" data-src="https://cdn-0.docdoc.com/assets/medtour2016/temp/img-location-3a0d0f6d0dad11ae6007c6ff4265a2c2.png" height="98" src="https://cdn-0.docdoc.com/assets/medtour2016/temp/img-location-3a0d0f6d0dad11ae6007c6ff4265a2c2.png" width="213" />
            <h6>Jakarta Office</h6>
            <p>Menara DEA Tower 2,<br />10th FloorJl. Mega Kuningan Barat Kav. E4 No. 1 Kuningan TimurJakarta Selatan, Indonesia 12950</p>
          </li>
          <li><img alt="Img location2" data-src="https://cdn-0.docdoc.com/assets/medtour2016/temp/img-location2-cb564051926c97e9fa0d83937dd26a0d.png" height="99" src="https://cdn-0.docdoc.com/assets/medtour2016/temp/img-location2-cb564051926c97e9fa0d83937dd26a0d.png" width="214" />
            <h6>Singapore Office</h6>
            <p>64B Boat Quay,<br />Singapore 049852</p>
          </li>
          <li><img alt="Img location3" data-src="https://cdn-0.docdoc.com/assets/medtour2016/temp/img-location3-f85255e888968ee07e2d86383dc97e3d.png" height="98" src="https://cdn-0.docdoc.com/assets/medtour2016/temp/img-location3-f85255e888968ee07e2d86383dc97e3d.png" width="213" />
            <h6>Vietnam Office</h6>
            <p>2 D4 Street,<br />Tan Hung Ward, District 7,<br />Ho Chi Minh City</p>
          </li>
          <li><img alt="Img location4" data-src="https://cdn-2.docdoc.com/assets/medtour2016/temp/img-location4-976e53e33664c332bfb71a79f9ed8525.png" height="99" src="https://cdn-2.docdoc.com/assets/medtour2016/temp/img-location4-976e53e33664c332bfb71a79f9ed8525.png" width="215" />
            <h6>Philippines Office</h6>
            <p>Unit 23M The Manhattan Parkway Tower 2,<br />Aurora Blvd. & Gen. Malvar Sts.,<br />Brgy. Socorro, Cubao, Quezon City<br />Philippines</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="shell">
      <div class="footer-inner">
        <ul class="list-footer">
          <li class="hide-desktop">
            <h6 class="alt">For more information or to book an appointment, call us at</h6>
            <p class="phone"><a href="tel:+6566975300" rel="nofollow"><span class="tracking-phone-num tel medtour">+65 6697 5300</span></a></p>
          </li>
          <li>
            <h6>About DocDoc</h6>
            <ul>
              <li><a href="/about/company-overview">Company overview</a></li>
              <li><a href="/about/our-team">Our team</a></li>
              <li><a href="/about/board-and-investors">Board and investors</a></li>
              <li><a href="/about/careers">Careers</a></li>
              <li><a href="/about/press">Press</a></li>
              <li><a href="/about/contact-us">Contact us</a></li>
            </ul>
          </li>
          <li>
            <h6>Medical Information</h6>
            <ul>
              <li class="medtour-link"><a href="/info/specialty">Specialties</a></li>
              <li class="medtour-link"><a href="/info/procedure">Procedures</a></li>
              <li class="medtour-link"><a href="/info/condition">Conditions</a></li>
              <li class="medtour-link"><a href="/info/body">Body parts</a></li>
            </ul>
          </li>
          <li class="hide-mobile">
            <h6 class="alt">For more information or to book an appointment, call us at</h6>
            <p class="phone"><a href="tel:+6566975300" rel="nofollow"><span class="tracking-phone-num tel medtour">+65 6697 5300</span></a></p>
          </li>
        </ul>
        <div class="footer-bottom-bar">
          <p class="copyright">&copy; 2016 DocDoc Pte Ltd.</p>
          <nav class="nav-footer">
            <ul>
              <li><a href="/pages/terms_privacy" rel="nofollow">Terms and conditions</a></li>
              <li><a href="/pages/terms_privacy#privacy" rel="nofollow">Privacy</a></li>
            </ul>
          </nav>
          <div class="socials">
            <ul>
              <li><a class="link-share" href="https://www.facebook.com/sharer/sharer.php?u=https://www.docdoc.com/" target="_blank"><i class="ico-facebook"></i></a></li>
              <li><a class="link-share" href="https://twitter.com/home?status=https://www.docdoc.com/" target="_blank"><i class="ico-twitter"></i></a></li>
              <li><a class="link-share" href="https://plus.google.com/share?url=https://www.docdoc.com/" target="_blank"><i class="ico-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bar">
    <div class="footer-bar-title">
      <div class="shell">
        <h6>Discover Medical Tourism on DocDoc</h6>
      </div>
    </div>
    <div class="footer-bar-content" [style.display]="isfooterDisplay">
      <div class="shell">
        <ul>
          <li>
            <div class="footer-nav">
              <h6>Search by country</h6>
              <ul>
                <li><a href="/search/singapore">Singapore</a></li>
                <li><a href="/search/malaysia">Malaysia</a></li>
                <li><a href="/search/thailand">Thailand</a></li>
                <li><a href="/search/india">India</a></li>
                <li><a href="/search/philippines">Philippines</a></li>
                <li><a href="/search/south-korea">South Korea</a></li>
                <li><a href="/search/hong-kong">Hong Kong</a></li>
              </ul><a class="link-more" href="/countries/directory" rel="nofollow">See more ...</a></div>
          </li>
          <li>
            <div class="footer-nav">
              <h6>Providers by procedure</h6>
              <ul>
                <li class="seo-title"><a class="" href="/search/first-consultation" title="First Consultation ">First Consultation </a></li>
                <li class="seo-title"><a class="" href="/search/consultation" title="Consultation">Consultation</a></li>
                <li class="seo-title"><a class="" href="/search/medical-report" title="Medical Report">Medical Report</a></li>
                <li class="seo-title"><a class="" href="/search/second-consultation" title="Second Consultation">Second Consultation</a></li>
                <li class="seo-title"><a class="" href="/search/ward-consultation" title="Ward Consultation">Ward Consultation</a></li>
                <li class="seo-title"><a class="" href="/search/local-anesthetics" title="Local Anesthetics">Local Anesthetics</a></li>
                <li class="seo-title"><a class="seo-link" href="/search/major-laparotomy-open-surgery" title="Major Laparotomy (Open Surgery)">Major Laparotomy (Open Surgery)</a></li>
                <li class="seo-title"><a class="" href="/search/intralock-implant" title="Intralock Implant">Intralock Implant</a></li>
              </ul><a class="link-more" href="/procedures/directory" rel="nofollow">See more ...</a></div>
          </li>
          <li>
            <div class="footer-nav">
              <h6>General medical information</h6>
              <ul>
                <li class="seo-title"><a class="seo-link" href="/info/procedure/liposuction" title="What is Liposuction: Overview, Benefits, and Expected Results">What is Liposuction: Overview, Benefits, and Expected Results</a></li>
                <li class="seo-title"><a class="seo-link" href="/info/specialty/plastic-surgeons" title="What is Plastic Surgery: An Overview">What is Plastic Surgery: An Overview</a></li>
                <li class="seo-title"><a class="seo-link" href="/info/condition/obsessive-compulsive-disorder" title="What is Obsessive Compulsive Disorder: Symptoms, Causes, Diagnosis, and Treatment">What is Obsessive Compulsive Disorder: Symptoms, Causes, Diagnosis, and Treatment</a></li>
                <li class="seo-title"><a class="seo-link" href="/info/condition/pancreatic-cancer" title="What is Pancreatic Cancer: Symptoms, Causes, Diagnosis, and Treatment">What is Pancreatic Cancer: Symptoms, Causes, Diagnosis, and Treatment</a></li>
                <li class="seo-title"><a class="seo-link" href="/info/condition/colon-cancer" title="What is Colon Cancer: Symptoms, Causes, Diagnosis, and Treatment">What is Colon Cancer: Symptoms, Causes, Diagnosis, and Treatment</a></li>
                <li class="seo-title"><a class="seo-link" href="/info/specialty/psychologists" title="What is Child Psychology: An Overview">What is Child Psychology: An Overview</a></li>
                <li class="seo-title"><a class="seo-link" href="/info/procedure/chemotherapy" title="What is Chemotherapy: Overview, Benefits, and Expected Results">What is Chemotherapy: Overview, Benefits, and Expected Results</a></li>
                <li class="seo-title"><a class="seo-link" href="/info/specialty/general-practitioners" title="What is General Practitioner: An Overview">What is General Practitioner: An Overview</a></li>
              </ul><a class="link-more" href="/info/directory" rel="nofollow">See more ...</a></div>
          </li>
          <li>
            <div class="footer-nav">
              <h6>Medical tourism on DocDoc</h6>
              <ul>
                <li class="seo-title"><a class="seo-link" href="/medical-travel/calculus-of-gallbladder-with-cholecystitis-treatment-in-sea" title="Calculus of Gallbladder with Cholecystitis Treatment in SEA">Calculus of Gallbladder with Cholecystitis Treatment in SEA</a></li>
                <li class="seo-title"><a class="seo-link" href="/medical-travel/why-indonesians-should-travel-to-sea-for-artery-rechanneling" title="Why Indonesians Should Travel to SEA for Artery Rechanneling">Why Indonesians Should Travel to SEA for Artery Rechanneling</a></li>
                <li class="seo-title"><a class="seo-link" href="/medical-travel/indulge-in-southeast-asia-s-quality-facial-treatments" title="Indulge in Southeast Asia's Quality Facial Treatments">Indulge in Southeast Asia's Quality Facial Treatments</a></li>
                <li class="seo-title"><a class="seo-link" href="/medical-travel/why-you-should-get-lasik-surgery-done-in-singapore" title="Why You Should Get LASIK Surgery Done in Singapore">Why You Should Get LASIK Surgery Done in Singapore</a></li>
                <li class="seo-title"><a class="seo-link" href="/medical-travel/cheaper-and-more-reliable-glaucoma-treatment-in-se-asia" title="Cheaper and More Reliable Glaucoma Treatment in SE Asia">Cheaper and More Reliable Glaucoma Treatment in SE Asia</a></li>
                <li class="seo-title"><a class="seo-link" href="/medical-travel/westerners-head-to-southeast-asia-for-spinal-fusion-surgery" title="Westerners Head to Southeast Asia for Spinal Fusion Surgery">Westerners Head to Southeast Asia for Spinal Fusion Surgery</a></li>
                <li class="seo-title"><a class="seo-link" href="/medical-travel/avoid-waiting-times-for-ent-care-in-southeast-asia" title="Avoid Waiting Time for ENT Care in Southeast Asia">Avoid Waiting Time for ENT Care in Southeast Asia</a></li>
                <li class="seo-title"><a class="seo-link" href="/medical-travel/take-advantage-of-advanced-macular-hole-treatment-in-sea" title="Take Advantage of Advanced Macular Hole Treatment in SEA">Take Advantage of Advanced Macular Hole Treatment in SEA</a></li>
              </ul><a class="link-more" href="/medical-travel/directory" rel="nofollow">See more ...</a></div>
          </li>
        </ul>
      </div>
    </div>
    <div (click)="openFooter()" [className]="isfooterVisible"><a class="toggle-footer-bar"><i class="ico-arrow-down"></i><i class="ico-arrow-up-blue"></i></a></div>
  </div>
</footer>
