<div class="box-login menu-box" >
<div class="box-inner">
  <div class="form form-login">
    <form name="login_form" novalidate="novalidate">
      <div class="form-head">
        <h4>Welcome Back</h4>
      </div>
      <div class="form-body">
        <div class="forlm-row"><label class="form-label hidden" for="field-login-email-address"> Email Address</label>
          <div class="form-controls"><input auto-fillable-field="auto-fillable-field" class="field" id="field-login-email-address" name="uEmail" placeholder="Email Address" required="required" type="email" />
            <div class="notice field-notice">
              <div class="message">You can't leave this empty</div>
            </div>
          </div>
        </div>
        <div class="form-row"><label class="form-label hidden" for="field-login-password"> Password</label>
          <div class="form-controls"><input auto-fillable-field="auto-fillable-field" class="field" id="field-login-password" name="uPassword" placeholder="Please enter 6 characters" required="required" type="password" />
            <div class="notice field-notice">
              <div class="message">You can't leave this empty</div>
            </div>
            <div class="notice password-notice">
              <div class="message">Wrong email or password</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions"><a class="reset-pass box-show" href="#forgot">Forgot your password?</a><button class="btn btn-blue" id="login-submit" type="submit">Login</button>
        <p>I don’t have an account.<a class="link-register box-show" href="#register">Sign Up</a></p>
      </div>
    </form>
  </div>
</div>
</div>
