<div class="box-inner">
  <div class="form form-login">
    <form id="password-recovery-form" name="password_recovery_form" novalidate="novalidate">
      <div class="form-head">
        <h4>Request your password</h4>
      </div>
      <div class="form-body">
        <div class="form-row"><label class="form-label hidden" for="field-login-email-address"> Email Address</label>
          <div class="form-controls"><input class="field" id="restore-form-user_email" name="uEmail" placeholder="Email Address" required="reqired" type="email" />
            <div class="notice field-notice cannot-empty">
              <div class="message">You can't leave this empty</div>
            </div>
            <div class="notice field-notice email-invalid">
              <div class="message">Incorrect email</div>
            </div>
            <div class="notice field-notice email-notice">
              <div class="message">Incorrect email</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions"><button class="btn btn-blue" disabled="true" id="forgot-password-submit" type="submit">Resend</button>
        <p>I don’t have an account.<a class="link-register box-show" href="#register">Sign Up</a></p>
      </div>
    </form>
  </div>
</div>
