<!--The content below is only a placeholder and can be replaced.-->



<app-header></app-header>



<div>
  <div class="wrapper wrapper-inner-pages small-padding">
    <div class="main" id="search-result-page">
      <section class="section-search" id="search-form">
        <div class="shell">
          <div class="section-inner">
            <div class="search">


              <form #searchForm = "ngForm" accept-charset="UTF-8" action="" method="GET" id="search_form">
                <div class="form-wrapper">
                  <div class="select-wrapper"><i class="ico-search"></i><select  id="query_value"
                                                                                 name="speacility_1"
                                                                                 [(ngModel)]="speacility_1">
                    <option value="">- Choose your type of doctor -</option>

                    <option  new_value="addiction-psychiatry" *ngFor="let spec of providerList.specialties" value={{spec.specialty}}
                    >{{spec.specialty}}</option>



                  </select></div>
                  <div class="select-wrapper"><select id="select-country" name="country_1" [(ngModel)]="country_1">

                    <option value="">- Choose a country -</option>

                    <option  new_value="vietnam" *ngFor="let coun of providerList.countries" value={{coun.name}}
                    >{{coun.name}}</option>


                  </select></div>
                  <div class="button-wrapper" (click)="getValue(searchForm.value)">
                    <input class="search-btn btn btn-primary"
                           id="search-form-btn" name="commit" type="button"
                           value="Search"/></div>
                  <div class="clearfix"></div>
                </div>
              </form>


            </div>
          </div>
        </div>
      </section>


      <section class="section-search-grid">
        <div class="shell">
          <div class="section-inner">
            <aside class="section-sidebar">
              <div class="widgets">
                <div class="widget widget-filter">
                  <div class="widget-head"><a class="btn btn-white reset" href="#">Reset</a>
                    <h2>Filter by</h2><a class="btn btn-white btn-close-filter" href="#"> Done</a>
                  </div>
                  <div class="widget-body">
                    <div class="accordion accordion-filter">
                      <div class="accordion-section ng-hide hidden">
                        <div class="accordion-head">
                          <h6>name</h6>
                        </div>
                        <div class="accordion-body">
                          <div class="input-group"><input class="form-control" id="q"
                                                          type="text"/></div>
                        </div>
                      </div>
                      <form #filterForm = "ngForm" accept-charset="UTF-8" method="GET" action="/search/"
                            id="formnew">
                        <div [className]="isproviderVisible">
                          <div (click)="openProvider()" class="accordion-head provider_acco_head">
                            <h6>Filter by provider</h6>
                          </div>

                          <div class="accordion-body provider_class" [style.display]="isproviderDisplay">
                            <ul class="list-checkboxes facet" id="provider-types">



                              <div data-reactroot="" class="ais-root ais-refinement-list">
                                <div class="ais-body ais-refinement-list--body">
                                  <div class="ais-refinement-list--list">

                                    <div class="ais-refinement-list--item ">
                                      <div>
                                        <li>
                                          <div class="doctor_class checkbox-alt-small" (click)="getValue(filterForm.value)">
                                            <input
                                              type="checkbox"
                                              class="ais-refinement-list--checkbox"
                                              value="Doctor"
                                              name="provider_type1" [(ngModel)]="provider_type1"
                                            >
                                            <label
                                              class="form-label">Doctors</label>
                                          </div>
                                        </li>
                                      </div>
                                    </div>


                                    <div class="ais-refinement-list--item ">
                                      <div>
                                        <li>
                                          <div class="doctor_class checkbox-alt-small" (click)="getValue(filterForm.value)">
                                            <input
                                              type="checkbox"
                                              class="ais-refinement-list--checkbox"
                                              value="Clinic"
                                              name="provider_type1" [(ngModel)]="provider_type1"
                                            >
                                            <label
                                              class="form-label">Clinics</label>
                                          </div>
                                        </li>
                                      </div>
                                    </div>


                                    <div class="ais-refinement-list--item ">
                                      <div>
                                        <li>
                                          <div class="doctor_class checkbox-alt-small" (click)="getValue(filterForm.value)">
                                            <input
                                              type="checkbox"
                                              class="ais-refinement-list--checkbox"
                                              value="Hospital"
                                              name="provider_type1" [(ngModel)]="provider_type1"
                                            >
                                            <label
                                              class="form-label">Hospitals</label>
                                          </div>
                                        </li>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>







                            </ul>
                          </div>


                        </div>
                        <div [className]="islocation1Visible">
                          <div (click)="openLocation()" class="accordion-head filter_by_country">
                            <h6>Filter by location</h6>
                          </div>
                          <div class="accordion-body filter_by_country_body"
                                [style.display]="islocationDisplay">
                            <ul class="list-checkboxes facet" id="countries">
                              <div data-reactroot="" class="ais-root ais-refinement-list">
                                <div class="ais-body ais-refinement-list--body">
                                  <div class="ais-refinement-list--list">

                                    <div class="ais-refinement-list--item" *ngFor="let loc of providerList.countries">
                                      <div>
                                        <li>
                                          <div class="checkbox-alt-small checkbox_check" (click)="getValue(filterForm.value)">
                                            <label class="form-label">
                                            <input
                                              type="checkbox"
                                              id="country_1"
                                              class="ais-refinement-list--checkbox "
                                              value={{loc.name}}
                                              name="country_1"
                                              [(ngModel)]="country_1"
                                            >
                                           {{loc.name}}
                                            </label>
                                          </div>
                                        </li>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </ul>
                          </div>
                        </div>

                        <div [className]="isspecialityVisible">
                          <div (click)="openSpeciality()" class="accordion-head filter_by_speciality">
                            <h6>Filter by specialty</h6>
                          </div>
                          <div class="accordion-body filter_by_speciality_body" [style.display]="isspecialityDisplay">
                            <ul class="list-checkboxes facet" id="specialties">
                              <div data-reactroot="" class="ais-root ais-refinement-list">
                                <div class="ais-body ais-refinement-list--body">
                                  <div class="ais-refinement-list--list">

                                    <div class="ais-refinement-list--item" *ngFor="let speciality of providerList.specialties">
                                      <div>
                                        <li>
                                          <div class="checkbox-alt-small checkbox_check">
                                            <input
                                              type="checkbox"
                                              class="ais-refinement-list--checkbox"
                                              value="Clinical neurophysiology"
                                              name="speacility_2"
                                              id="speacility_2"
                                            >
                                            <label
                                              class="form-label">{{speciality.specialty}}</label>
                                          </div>
                                        </li>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </ul>
                          </div>
                        </div>


                        <div [className]="isprocedureVisible">
                          <div (click)="openProcedure()" class="accordion-head filter_by_country">
                            <h6>Filter by procedure</h6>
                          </div>
                          <div class="accordion-body filter_by_country_body"
                               [style.display]="isprocedureDisplay">
                            <ul class="list-checkboxes facet" id="procedures">
                              <div data-reactroot="" class="ais-root ais-refinement-list">
                                <div class="ais-body ais-refinement-list--body">
                                  <div class="ais-refinement-list--list">

                                    <div class="ais-refinement-list--item" *ngFor="let proc of providerList.procedures">
                                      <div>
                                        <li>
                                          <div class="checkbox-alt-small checkbox_check">
                                            <input
                                              type="checkbox"
                                              id="provider_1"
                                              class="ais-refinement-list--checkbox "
                                              value="Mexico"
                                              name="country_1"
                                            >

                                            <label
                                              class="form-label">{{proc.medical_name}}</label>
                                          </div>
                                        </li>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </ul>
                          </div>
                        </div>


                        <!--<div [className]="isbodypartVisible">-->
                          <!--<div (click)="openBodyParts()" class="accordion-head filter_by_country">-->
                            <!--<h6>Filter by body parts</h6>-->
                          <!--</div>-->
                          <!--<div class="accordion-body filter_by_country_body"-->
                               <!--[style.display]="isbodypartDisplay ">-->
                            <!--<ul class="list-checkboxes facet" id="bodyparts">-->
                              <!--<div data-reactroot="" class="ais-root ais-refinement-list">-->
                                <!--<div class="ais-body ais-refinement-list&#45;&#45;body">-->
                                  <!--<div class="ais-refinement-list&#45;&#45;list">-->

                                    <!--<div class="ais-refinement-list&#45;&#45;item">-->
                                      <!--<div>-->
                                        <!--<li>-->
                                          <!--<div class="checkbox-alt-small checkbox_check">-->
                                            <!--<input-->
                                              <!--type="checkbox"-->
                                              <!--id="body_1"-->
                                              <!--class="ais-refinement-list&#45;&#45;checkbox "-->
                                              <!--value="Mexico"-->
                                              <!--name="country_1"-->
                                            <!--&gt;-->

                                            <!--<label-->
                                              <!--class="form-label">Mexico</label>-->
                                          <!--</div>-->
                                        <!--</li>-->
                                      <!--</div>-->
                                    <!--</div>-->

                                  <!--</div>-->
                                <!--</div>-->
                              <!--</div>-->
                            <!--</ul>-->
                          <!--</div>-->
                        <!--</div>-->
                      </form>
















                    </div>
                  </div>
                  <div class="widget-actions">
                    <div class="ng-hide hidden" id="reset-filter-text">Reset filter</div>
                    <div id="clear-all"></div>
                  </div>
                </div>
              </div>
            </aside>
            <div class="section-content">
              <header class="section-head">
                <h2 id="search-title"> Providers in <span>Asia</span></h2>
                <button class="btn btn-filter">Filter</button>
              </header>
              <div class="section-body">






                <div id="hits">


                  <div class="ais-hits--item" *ngFor="let list of providerList.providers.results">
                    <div class="box-clinic">


                      <div class="box-image"><a
                        href="/doctors/anonymous-customer/1"><img
                        src="https://www.docdoc.com/doctor-avatar.png"></a>
                      </div>
                      <div class="box-content"><h5><a
                        href="/doctors/anonymous-customer/1">
                        {{list.name}}</a></h5><h6 class="country">
                        {{list.type}}
                        in {{list.country}}</h6>
                        <p><strong>Language Spoken:</strong>
                            <span *ngFor="let lang of list.languages">{{lang}}</span>
                        </p></div>
                      <div class="box-actions"><span class="verified true">Verified <i
                        class="ico-verified"></i></span>

                        <a href="/doctors/anonymous-customer/1"
                           class="btn btn-primary">MORE
                          DETAILS</a></div>
                    </div>
                  </div>


                </div>
              </div>


              <div class="section-actions">
                <div class="paging" id="pagination">
                  <ul data-reactroot="" class="ais-pagination">

                    <li class="ais-pagination--item ais-pagination--item__first ais-pagination--item__disabled">
                      <span class="ais-pagination--link">&lt;&lt;</span>
                    </li>


                    <li class="ais-pagination--item ais-pagination--item__previous ais-pagination--item__disabled">
                      <span class="ais-pagination--link">&lt;</span></li>



                    <li class="ais-pagination--item ais-pagination--item__page ais-pagination--item__active current">
                      <a class="ais-pagination--link"
                         href="?page=1">1</a>
                    </li>

                    <li class="ais-pagination--item ais-pagination--item__page ">
                      <a class="ais-pagination--link"
                         href="?page=2">2</a>
                    </li>

                    <li class="ais-pagination--item ais-pagination--item__page ">
                      <a class="ais-pagination--link"
                         href="?page=3">3</a>
                    </li>

                    <li class="ais-pagination--item ais-pagination--item__page ">
                      <a class="ais-pagination--link"
                         href="?page=4">4</a>
                    </li>

                    <li class="ais-pagination--item ais-pagination--item__page ">
                      <a class="ais-pagination--link"
                         href="?page=5">5</a>
                    </li>

                    <li class="ais-pagination--item ais-pagination--item__page ">
                      <a class="ais-pagination--link"
                         href="?page=6">6</a>
                    </li>

                    <li class="ais-pagination--item ais-pagination--item__page ">
                      <a class="ais-pagination--link"
                         href="?page=7">7</a>
                    </li>



                    <li class="ais-pagination--item ais-pagination--item__next">
                      <a class="ais-pagination--link"
                         href="?page=2">
                        <span class="ais-pagination--link">&gt;</span>
                      </a>
                    </li>




                    <li class="ais-pagination--item ais-pagination--item__last"><a
                      class="ais-pagination--link"
                      href="?page=100">&gt;&gt;</a>
                    </li>

                  </ul>
                </div>
              </div>


            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="hidden ng-hide" id="params"></div>
    <div class="hidden ng-hide" id="country-filter"></div>
    <div class="hidden" id="specialty-filter"></div>
    <div class="hidden" id="procedure-filter"></div>
    <div class="hidden" id="body-filter"></div>

  </div>
  <div class="ng-hide hidden" data-value="false" id="ga_custom_dimension"></div>
</div> <!-- /container -->




<app-footer></app-footer>

